# Arquivos compilados do Java
*.class

# Logs
*.log

# Arquivos temporários
*.tmp

# Configurações do Eclipse
.project
.classpath
.settings/

# Configurações do VS Code
.vscode/

# Arquivos do sistema Windows
Thumbs.db
Desktop.ini